In [2]:
import pandas as pd

In [3]:
# read melb data
melb_crash_path = "cleaned_data/melbourne_data.csv"
melb_weather_path = "cleaned_data/melbourne_weather.csv"
melb_crash = pd.read_csv(melb_crash_path)
melb_weather = pd.read_csv(melb_weather_path)

# read hume data
hume_crash_path = "cleaned_data/hume_data.csv"
hume_weather_path = "cleaned_data/hume_weather.csv"
hume_crash = pd.read_csv(hume_crash_path)
hume_weather = pd.read_csv(hume_weather_path)

In [4]:
melb_crash.head()

,Unnamed: 0,OBJECTID,ACCIDENT_NO,ABS_CODE,ACCIDENT_STATUS,ACCIDENT_DATE,ACCIDENT_TIME,ALCOHOLTIME,ACCIDENT_TYPE,DAY_OF_WEEK,...,HEAVYVEHICLE,PASSENGERVEHICLE,MOTORCYCLE,PUBLICVEHICLE,DEG_URBAN_NAME,DEG_URBAN_ALL,LGA_NAME_ALL,REGION_NAME_ALL,RMA,STAT_DIV_NAME
0,12,13,T20140013533,Driving accident,Unfinished,2014/07/01,18:05:00,Yes,Collision with vehicle,Monday,...,0.0,3.0,0.0,0.0,MELB_URBAN,MELB_URBAN,MELBOURNE,METROPOLITAN NORTH WEST REGION,Freeway,Metro
1,66,67,T20140013680,Driving accident,Finished,2014/07/03,11:00:00,No,No collision and no object struck,Thursday,...,0.0,0.0,1.0,0.0,MELBOURNE_CBD,MELBOURNE_CBD,MELBOURNE,METROPOLITAN NORTH WEST REGION,Local Road,Metro
2,88,89,T20140013771,Driving accident,Finished,2014/07/04,17:40:00,No,No collision and no object struck,Thursday,...,0.0,0.0,1.0,0.0,MELB_URBAN,MELB_URBAN,MELBOURNE,METROPOLITAN NORTH WEST REGION,Local Road,Metro
3,104,105,T20140013804,Driving accident,Finished,2014/07/05,04:30:00,Yes,Collision with a fixed object,Saturday,...,0.0,0.0,1.0,0.0,MELB_URBAN,MELB_URBAN,MELBOURNE,METROPOLITAN NORTH WEST REGION,Local Road,Metro
4,114,115,T20140013888,Driving accident,Finished,2014/07/06,11:17:00,No,Collision with vehicle,Sunday,...,0.0,1.0,1.0,0.0,MELBOURNE_CBD,MELBOURNE_CBD,MELBOURNE,METROPOLITAN NORTH WEST REGION,Local Road,Metro

In [5]:
melb_weather.head()

         Date  Rainfall amount (millimetres)  Maximum temperature (Degree C)
0  2013/06/02                            5.0                            15.7
1  2013/06/03                            0.2                            14.8
2  2013/06/04                            0.2                            15.0
3  2013/06/05                            0.0                            14.6
4  2013/06/06                            0.0                            17.3

In [6]:
hume_crash.head()
hume_crash = hume_crash.rename(columns = {'ACCIDENT_DATE': "Date"})

In [6]:
hume_weather.head()

         Date  Rainfall amount (millimetres)  Maximum temperature (Degree C)
0  1970/07/01                            0.3                            14.1
1  1970/07/02                            3.0                            12.4
2  1970/07/03                            0.0                            11.3
3  1970/07/04                            0.0                            12.3
4  1970/07/05                            3.6                            14.8

In [7]:
# rename accident_date to date
melb_crash = melb_crash.rename(columns = {'ACCIDENT_DATE': "Date"})

In [8]:
# merge melb
merged_melb = melb_crash.merge(melb_weather, how ='inner', on = 'Date')

# merge hume crash and hume weather
merged_hume = hume_crash.merge(hume_weather, how ='inner', on = 'Date')

In [11]:
merged_melb = merged_melb.drop(['OBJECTID','Unnamed: 0'],axis =1)
merged_hume = merged_hume.drop(['OBJECTID','Unnamed: 0'],axis = 1)

In [12]:
merged_melb.to_csv("cleaned_data/merged_melb_data.csv", index = False)
merged_hume.to_csv("cleaned_data/merged_hume_data.csv", index = False)